<app-modal-shell [title]="title()" [processing]="processing()" (dismissed)="onCancel()">
  <p modal-body class="dialog-message">{{ message() }}</p>
  <ng-container modal-actions>
    <button type="button" class="dialog-btn dialog-btn--cancel" [disabled]="processing()" (click)="onCancel()">
      {{ cancelLabel() }}
    </button>
    <button type="button" class="dialog-btn dialog-btn--confirm" [disabled]="processing()" (click)="onConfirm()">
      @if (processing()) {
        Processing...
      } @else {
        {{ confirmLabel() }}
      }
    </button>
  </ng-container>
</app-modal-shell>
