@if (taken().length > 0) {
  <div class="training-list">
    <h5 class="training-list__heading">Training</h5>
    <ul class="training-taken">
      @for (training of taken(); track training.option) {
        <li class="training-taken__item">
          <div class="training-taken__header">
            <span class="training-taken__name">{{ training.label }}</span>
            @if (training.countLabel) {
              <span class="training-taken__count">{{ training.countLabel }}</span>
            }
          </div>
          <p class="training-taken__effect">{{ training.effect }}</p>
          @if (training.viciousAxes.length > 0) {
            <p class="training-taken__axes">{{ training.viciousAxes.join(', ') }}</p>
          }
        </li>
      }
    </ul>
  </div>
}
